<a href="#" data-bs-toggle="modal" data-bs-target="#loginModal">Load me</a>

<div class="modal fade" aria-labelledby="loginModal" id="loginModal" aria-hidden="true" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Login</h5>
            </div>
            <form class="loginform mx-auto">
                <div class="d-flex flex-column mx-auto my-auto">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Email</span>
                        </div>
                        <input #email type="text" class="form-control" placeholder="e.g. johndoe@gmail.com" aria-label="name"
                            aria-describedby="">
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Password</span>
                        </div>
                        <input #password type="password" class="form-control" placeholder="password" aria-label="name"
                            aria-describedby="">
                    </div>
                    <!-- <div class="input-group mb-3">
                        <button style="width:100%;" type="button" class="btn btn-primary" submit="#">Login</button>
                    </div> -->
                </div>
            </form>

            <div class="modal-footer">
                <div class="justify-content-between">
                    <div class="d-flex">
                        <button type="button" class="btn btn-primary" (click)="authService.GoogleAuth()">Login with Google</button>
                    </div>
                    <div class="d-flex">
                        <button type="button" class="btn btn-primary" (click)="authService.SignIn(email.value, password.value)">Login</button>
                        <button type="button" class="btn btn-secondary" data-bs-toggle="modal"
                            data-bs-target="#loginModal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>