body {
    overflow: hidden;
    max-height: 100vh;
}

#fluid-content {
    display: block;
    width: 80%;
}

#wrapper {
    width: 100%;
    background: #f8f9fc;
    overflow-x: hidden;
}

#content-wrapper {
    display: flex !important;
    background: #b8bfd5;
    width: 100%;
    max-height: 100vh;
    overflow-y: hidden;
}

// #wrapper #content-wrapper #content {
//     padding:10px;
// }

.flex-column {
    flex-direction: column !important;
}

.d-flex {
    display: flex !important;
}

#content {
    flex: 1 0 auto;
    // overflow-y:auto;
}


div {
    display: block;
}

*,
::after,
::before {
    box-sizing: border-box;
}